# Libraries
*.lvlibp
*.llb

# Include this library to enable
# testing
!CDMessaging.lvlibp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# Output directory
Built/
